.course-content ul.qmultopics {
    margin: 0;
}
.course-content ul.qmultopics li.section {
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0;
}
.course-content ul.qmultopics li.section .content {
    margin: 0 40px;
}
.course-content ul.qmultopics li.section .left,
.course-content ul.qmultopics li.section .right {
    width: 40px;
    padding: 0 6px;
}
.course-content ul.qmultopics li.section .right img.icon {
    padding: 0 0 4px 0;
}
.course-content ul.qmultopics li.section .left {
    padding-top: 22px;
    text-align: right;
}
.jsenabled .course-content ul.qmultopics li.section .left,
.jsenabled .course-content ul.qmultopics li.section .right {
    width: auto;
}
.course-content ul.qmultopics li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}
.course-content ul.qmultopics li.section .section_action_menu .textmenu,
.course-content ul.qmultopics li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}

/* Tab Styles */
.course-content ul.qmultopics .tablink {
    cursor: pointer;
}
.course-content ul.qmultopics .assessment_info_block_content {
    padding-top: 16px;
}
.course-content ul.qmultopics #content_assessmentinformation_area {
    padding-top: 10px;
}

/* Label Styles */
div.badge {
    padding: 5px;
    border-radius: 4px;
}

.label-danger {
    color: #fff;
    background-color: #ca3120;
}
.badge a.label-danger {
    color: #fff;
    background-color: #ca3120;
}
a.label-danger:hover,
a.label-danger:focus {
    color: #fff;
    background-color: #ca3120;
}
a.label-danger:focus,
a.label-danger.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(202, 49, 32, 0.5);
}
